<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.network.android.networkcapital">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NetworkCard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".edit_details"
            android:label="Network Card Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PostActivity"
            android:label="Post"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LikeActivity"
            android:label="People who liked your post"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CommentActivity"
            android:label="Comments"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HelpUsers"
            android:label="Who can Mentor you"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ProfileActivity">
            <intent-filter>
                <action android:name="com.network.android.networkcapital_TARGET_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Modules.FriendsActivity"
            android:label="Connections"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChatListActivity"
            android:label="Chats"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RequestActivity"
            android:label="Connection Requests"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Modules.Rating"
            android:label="Ratings"
            android:parentActivityName=".RateYourFriends" />
        <activity android:name=".CommentNC" />
        <activity
            android:name=".RateYourFriends"
            android:label="Connections Rating"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AlreadyRated"
            android:label="Ratings" />
        <activity
            android:name=".AcceptActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".CheckActivity"
            android:label="Review Applications"
            android:launchMode="singleInstance" />
        <activity
            android:name=".RejectApplication"
            android:launchMode="singleInstance" />
        <activity
            android:name=".AcceptApplication"
            android:launchMode="singleTask" />
        <activity
            android:name=".EventActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddEvent"
            android:label="Add Event" />
        <activity
            android:name=".DetailEvent"
            android:label="Event"
            android:parentActivityName=".EventActivity" />
        <activity
            android:name=".AdminMainActivity"
            android:label="Admin Page"
            android:launchMode="singleInstance" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".Modules.UserProfile"></activity>
    </application>

</manifest>